/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
/* line 11, ../sass/akademy-style.scss */
@font-face { font-family: Oxygen; src: url('Oxygen.ttf.html'); } 

body {
  background: url(../images/bg.png) #EFF0F0 repeat-x;
  color: #393939;
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
  /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

#root {
	background: url("../images/motif.png") repeat-x scroll center bottom transparent;
	padding-bottom: 35px;
}

/* Default link styles - separate a:visited for a different visited link style */
/* line 21, ../sass/akademy-style.scss */
a,
a:link,
a:visited {
  color: #3d6b92;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
/* line 28, ../sass/akademy-style.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Specific Typography
-------------------------------------------------------------- */
/* line 35, ../sass/akademy-style.scss */
h1, h2, h3, h4, h5, h6 {
	font-family: Oxygen, sans-serif;
	font-weight: 100;
	margin-bottom: 1em;
}

#site-name {
  font-size: 2.4em;
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  line-height: 150%;
  margin: 81px 0 0 27px;
}

/* HTML Elements
-------------------------------------------------------------- */
/* Site Info
-------------------------------------------------------------- */
/* Add float here to put logo and site name side by side, also add margins as
  needed */
/* Link and hover styles for site name */
/* line 60, ../sass/akademy-style.scss */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  color: transparent;
}

/* Typography for site slogan */
/* Regions
-------------------------------------------------------------- */
/* All Regions
-------------------------------------------------------------- */
/* Site info + Header Region
-------------------------------------------------------------- */
/* line 79, ../sass/akademy-style.scss */
.header-group {
  background: url(../images/header.png) transparent no-repeat;
  border: 1px 1px 0 1px solid #a9a9a9;
  height: 250px;
  margin-top: 35px;
}

/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
/* line 91, ../sass/akademy-style.scss */
.primary-menu {
  width: 500px;
  float: right;
  font-size: 1.1em;
  margin-top: 10px;
  text-align: right;
}

/* styles for Superfish primary menu */
/* Link style for top level menu items, add padding here */
/* These are the top level menu items, add border-right here for separators */
/* line 117, ../sass/akademy-style.scss */
.primary-menu-inner ul.sf-menu li a {
  padding: 0.25em 0.5em;
}

/* Add border-right: 0; here to remove separator on last menu item */
/* line 121, ../sass/akademy-style.scss */
.primary-menu-inner ul.sf-menu li.last {
  padding-right: 0;
}

/* Style for container of dropdown, add background or border */
/* Style for individual dropdown menu items, add border-bottom for separators */
/* line 130, ../sass/akademy-style.scss */
.primary-menu-inner ul.sf-menu li li {
  background-color: #fff;
}

/* Style for hover of dropdown menu items (add background-color here) */
/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
/* line 149, ../sass/akademy-style.scss */
.secondary-menu {
  text-align: right;
  margin-bottom: 10px;
}

/* Set general style for menu here -- background, alignment, etc. */
/* line 155, ../sass/akademy-style.scss */
.secondary-menu-inner ul.links {
  margin: 30px 120px 0 0;
}

/* Add a border-right here for a separator */
/* line 160, ../sass/akademy-style.scss */
.secondary-menu-inner ul.links li {
  border-right: 1px #3d6b92 solid;
}

/* Add border-right: 0; here to remove right separator on last menu item */
/* line 165, ../sass/akademy-style.scss */
.secondary-menu-inner ul.links li.last {
  border-right: none;
}

/* Styles for links */
/* line 171, ../sass/akademy-style.scss */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

/* Header - Search
-------------------------------------------------------------- */
/*  Main Area (content + sidebars)
-------------------------------------------------------------- */
#page {
	width: 800px;
	border-radius: 4px;
-webkit-box-shadow: 0px 1px 5px 2px rgba(29, 56, 57, 0.3);
-moz-box-shadow: 0px 1px 5px 2px rgba(29, 56, 57, 0.3);
box-shadow: 0px 1px 5px 2px rgba(29, 56, 57, 0.3);
}
/* line 196, ../sass/akademy-style.scss */
.main {
  background-color: #fff;
  border-radius: 0;
}

/* line 200, ../sass/akademy-style.scss */
#content-tabs ul.primary {
  border: none;
  margin-left: 0;
}
/* line 203, ../sass/akademy-style.scss */
#content-tabs ul.primary li {
  display: block;
  float: left;
  line-height: 200%;
}
/* line 207, ../sass/akademy-style.scss */
#content-tabs ul.primary li .active {
  border: 0;
}
/* line 210, ../sass/akademy-style.scss */
#content-tabs ul.primary li a:link {
  line-height: 200%;
}
/* line 213, ../sass/akademy-style.scss */
#content-tabs ul.primary li a:visited {
  line-height: 200%;
}
/* line 217, ../sass/akademy-style.scss */
#content-tabs ul.primary a {
  background-color: #e2e2e2;
  border: none;
  border-radius: 8px 8px 0 0;
  padding: 0.4em 1.2em;
}
/* line 222, ../sass/akademy-style.scss */
#content-tabs ul.primary a .active {
  background-color: #d6e3ee;
}

/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
/* line 232, ../sass/akademy-style.scss */
.sidebar-first .block .inner {
  margin-left: 20px;
}

/* Content Regions
-------------------------------------------------------------- */
/*  Footer Region
-------------------------------------------------------------- */
/* line 247, ../sass/akademy-style.scss */
.footer-wrapper {
  background: #ffffff;
  border-radius: 8px;
}

/* line 252, ../sass/akademy-style.scss */
.footer {
  background: url(../images/footer.png) white no-repeat;
  border-radius: 0 0 5px 5px;
  height: 83px;
}

/* line 258, ../sass/akademy-style.scss */
.footer-message-text {
  color: #777777;
  text-align: right;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
/* line 266, ../sass/akademy-style.scss */
h1.title {
  font-weight: 100;
  font-size: 2.4em;
  line-height: 150%;
}

h1 {
	margin-bottom: 1.2em;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
/* line 275, ../sass/akademy-style.scss */
.node-unpublished {
  background-color: #fff4f4;
}

/* line 278, ../sass/akademy-style.scss */
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
/* line 283, ../sass/akademy-style.scss */
h2.title {
  font-weight: 100;
  font-size: 2em;
  line-height: 150%;
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
/* Separators and padding for node teasers */
/* Author/date info */
/* Links for nodes (taxonomy, commenting, read more, etc) */
/* Only more/read more links */
/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
/* Status messages: green */
/* Warning messages: yellow */
/* Error messages: red */
/* Help messages: blue */
/* Error that appears when a required form field is not filled out */
/* line 347, ../sass/akademy-style.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
/* line 353, ../sass/akademy-style.scss */
.marker,
.form-required {
  color: #aa1144;
}

/* Default block title styles
/-------------------------------------------------------------- */
/* Breadcrumbs
-------------------------------------------------------------- */
/* Pagers
-------------------------------------------------------------- */
/* line 380, ../sass/akademy-style.scss */
ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

/* line 384, ../sass/akademy-style.scss */
ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

/* line 391, ../sass/akademy-style.scss */
ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
/* line 400, ../sass/akademy-style.scss */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Remove backgrounds and border on radios and checkboxes */
/* line 407, ../sass/akademy-style.scss */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* defaults for all form buttons */
/* line 413, ../sass/akademy-style.scss */
.form-submit {
  background: #9e9e9e url(../images/button-bg.png) repeat-x 50% 0;
  border: 3px solid #e9e9e9;
  color: #fff;
}

/* line 421, ../sass/akademy-style.scss */
.form-submit:hover,
.form-submit.hover,
.form-submit:focus {
  background-position: 50% 100%;
}

/* line 425, ../sass/akademy-style.scss */
fieldset {
  border: 1px solid #d9d9d9;
}

/* line 432, ../sass/akademy-style.scss */
legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
  color: #535353;
}

/* line 438, ../sass/akademy-style.scss */
.form-item input,
.form-item select,
.form-item textarea {
  border: 1px solid #ddd;
  border-top: 2px solid #cecece;
}

/* line 443, ../sass/akademy-style.scss */
html.js fieldset.collapsible legend a {
  background: transparent url(../images/menu-expanded.png) no-repeat 0% 50%;
}

/* line 447, ../sass/akademy-style.scss */
html.js fieldset.collapsed legend a {
  background: transparent url(../images/menu-collapsed.png) no-repeat 0% 50%;
}

/* Tables
-------------------------------------------------------------- */
/* Body of tables */
/* line 459, ../sass/akademy-style.scss */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
/* line 465, ../sass/akademy-style.scss */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

/* line 469, ../sass/akademy-style.scss */
tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
/* line 475, ../sass/akademy-style.scss */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

/* line 481, ../sass/akademy-style.scss */
tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

/* line 490, ../sass/akademy-style.scss */
tr.drag td,
tr.drag-previous td {
  color: #000;
}

/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */
/* Book
/-------------------------------------------------------------- */
/* line 510, ../sass/akademy-style.scss */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

/* line 514, ../sass/akademy-style.scss */
.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
/* Subject (title) of each comment */
/* Links (edit, reply, delete) for each comment */
/* Alternating styles for even/odd comments */
/* line 536, ../sass/akademy-style.scss */
.comments div.odd {
  background-color: #fff;
}

/* line 540, ../sass/akademy-style.scss */
.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
/* line 545, ../sass/akademy-style.scss */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
/* line 550, ../sass/akademy-style.scss */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
/* Forum
/-------------------------------------------------------------- */
/* line 564, ../sass/akademy-style.scss */
.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/* Poll
/-------------------------------------------------------------- */
/* line 572, ../sass/akademy-style.scss */
div.poll div.bar {
  background-color: #ddd;
}

/* line 576, ../sass/akademy-style.scss */
div.poll div.bar div.foreground {
  background-color: #999;
}

/* Profiles
/-------------------------------------------------------------- */
/* line 583, ../sass/akademy-style.scss */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
/* line 588, ../sass/akademy-style.scss */
.profile dt {
  background-color: #ccc;
}

/* Skinr
/-------------------------------------------------------------- */
/* This is a sample Skinr style to get you started. See fusion_starter.info */
/* line 597, ../sass/akademy-style.scss */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}

#slogan {
	float: right;
	margin-top: 95px;
	margin-right: 200px;
}

/* style the sponsor block */
#block-block-2 ul {
	list-style-type: none;
	list-style-position: inside;
}