
/* Layout - 8 column grid, 800px fixed width, 20px gutters
-------------------------------------------------------------- */

/* grid widths */
.grid08-1 {width: 100px;}
.grid08-2 {width: 200px;}
.grid08-3 {width: 300px;}
.grid08-4 {width: 400px;}
.grid08-5 {width: 500px;}
.grid08-6 {width: 600px;}
.grid08-7 {width: 700px;}
.grid08-8 {width: 800px;}

/* block indents */
.grid08-indent-1 {margin-left: 100px;}
.grid08-indent-2 {margin-left: 200px;}
.grid08-indent-3 {margin-left: 300px;}
.grid08-indent-4 {margin-left: 400px;}
.grid08-indent-5 {margin-left: 500px;}
.grid08-indent-6 {margin-left: 600px;}
.grid08-indent-7 {margin-left: 700px;}

/* gutters (2 x margin) */
.block .inner {
  margin-left: 10px;
  margin-right: 10px;
}

/* hack to fix node-top & node-bottom being off-grid */
#content-content .node .first .inner {
    margin-right: 20px;
}

body,
div.full-width {
  min-width: 800px;
}
